.Select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  label {
    text-transform: capitalize;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    text-align: start;
  }

  select {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    // margin: auto;

    &:focus {
      outline: none;
      background-color: #ccc;
    }
  }
}