.Header {
  display: flex;
  align-content: flex-start;
  text-align: start;
  background: indianred;
}

a {
  text-decoration: none;
  color: white;
  padding: 20px;

  &:hover {
    background: palevioletred;
    color: lightcyan;
  }
}

.active {
  color: white;
  background: palevioletred;
}